.RegisterForm{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap:20px;
    
    & >h2{
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    &__field{
        color:#707175;
        display: flex;
        flex-direction: column;
        gap:10px;
        & >label{
            
            font-size: var(--large);
        }
        & >input{
            background-color: #F7F7F9;
            font-size: var(--medium);
            padding: 20px;
        }
        &--error{
            color: red;
            font-size: var(--large);
        }
    }
    & >button{
        font-size: var(--large);
        background-color: black;
        padding: 20px 30px;
        color: white;
        width: fit-content;
    }
    & >label{
       color: #707175;
        & >a{
            display: inline;
        }
    }
}