.PlaceOrderSummary{
    border: 1px solid #DFDFDF;
    width: 400px;
    height: fit-content;
    &__title{
        border: 1px solid #DFDFDF;
        padding: 20px 20px 40px 20px;
        text-transform: uppercase;
    }
    &__field{
        border: 1px solid #DFDFDF;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        font-size: var(--medium);
        color: #C69E6B;
        &--price{
            width: 150px;
        }
    }
    &__button{
        border: 1px solid #DFDFDF;
        padding: 20px;
        & >button{
            width: 100%;
            height: 70px;
            background-color: black;
            color: white;
            text-transform: uppercase;
        }
    }
}