.Table{
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: white;
    &__searchSection{
        padding: 43px 30px;
        border-bottom: solid 2px black;
        &--searchBox{
            display: flex;
            align-items: center;
            border: 1.5px solid #c4c4c4;
            padding: 5px 10px;
            gap: 10px;
            & >span{
                color:  #929395;
                transition-duration: .3s;
                font-size: var(--medium);
                &:hover{
                    cursor: pointer;
                    color: black;
                    opacity: .9;
                }
            }
            & >input{
                font-size: var(--medium);
                &::placeholder{
                    color:  #929395;
                }
            }
            
        }
    }
    & .productGrid{
        grid-template-columns: 100px 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    & .userGrid{
        grid-template-columns: 100px 2fr 1fr 1fr 1fr 1fr 1fr;
    }
    & .orderGrid{
        grid-template-columns: 100px .5fr 1fr 1fr 1fr 1fr 1fr 1fr 100px;
    }

    &__displayOptions{
        display: grid;
        align-items: center;
        padding: 20px 0 40px;
        
        & >div{
            font-size: var(--medium);
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            &:hover{
            cursor: pointer;
            }
            & >span{
            padding-top: 5px;
            font-size: var(--large)
            
            }
        }
        
    }
    &__paginate{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        & >div:last-child{
            display: flex;
            
            gap: 10px;
            & >div{
                white-space: nowrap;
            }
        }
    }
    &__content{
        min-height: 450px;
        &--empty{
            border-radius: 5px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 10px 20px;
            background-color: #929395;
            
        }
    }
}